.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}
.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}

.nav-glyphish-example .ui-btn .ui-icon { 
    width: 45px!important; 
    height: 35px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

#inici .ui-icon { 
    background-image:url(images/inici.png); 
    background-position: 11px 5px;
    background-repeat: no-repeat;
}

#blog .ui-icon { 
    background-image:url(images/blog.png); 
    background-position: 11px 5px;
    background-repeat: no-repeat;
}

#laroda .ui-icon { 
    background-image:url(images/laroda.png); 
    background-position: 11px 5px;
    background-repeat: no-repeat;
}

#events .ui-icon { 
    background-image:url(images/events.png); 
    background-position: 11px 5px;
    background-repeat: no-repeat;
}

